main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

mat-card {
  max-width: 400px;
}

mat-card-header {
  align-self: center;
}

mat-card-title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

#signUpButton {
  width: 100%;
}
