.dashboard {
  height: 100%;
}

.sidenav {
  background-color: var(--mat-sys-primary-container);
  max-width: 240px;

  .title {
    text-align: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    max-width: 56px;
    .title {
      display: none;
    }
  }
}

mat-divider {
  margin: 8px 0;
}

.card {
  max-width: 600px;
  margin: 16px;
  padding: 16px;

  mat-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  mat-card-content {
    font-size: 16px;
  }
  mat-card-actions {
    justify-content: flex-end;
  }
}
