.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 1rem;
}

mat-card-header {
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
}

mat-card-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  display: block;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    width: 100%;
    padding: 0.5rem;
  }
}
